<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
  <body>
    <%- include('../partials/header')%> 
    <%- include('../contents/product')%> 
    <%-include('../partials/footer')%> 
    <%- include('../partials/foot')%>
  </body>
</html>
